.card {
    position: relative;
    background-color: #FFFFFF;
    padding: 1em;
    line-height: 2;
    margin-bottom: 1em;
    border: 1px solid #c6c6c6;
    &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 5px 0px #9e9e9e;
        .actions {
            visibility: visible;
        }
    }
    &.critical {
        border-left: 3px solid #F44336;
    }
    &.high {
        border-left: 3px solid #FFC107;
    }
    &.normal {
        border-left: 3px solid #8BC34A;
    }
    .title {
        font-weight: bold;
    }
    .description {
        word-wrap: break-word;
        font-size: .9em;
        color: #1f1f1f;
        line-height: 1.5;
        margin-bottom: .5em;
    }
    .actions {
        display: flex;
        visibility: hidden;
        justify-content: flex-end;
        span {
            font-size: .8em;
            text-align: center;
            background-size: 2em;
            background-position: center;
            &:hover {
                cursor: pointer;
            }
        }
        .re-order {
            position: absolute;
            top: .5em;
            right: .5em;
            span {
                display: block;
                background-repeat: no-repeat;
                background-size: 2em;
                width: 20px;
                height: 15px;
                opacity: .5;
            }
            .up {
                background-image: url(../../../../icons/up.png);
            }
            .down {
                background-image: url(../../../../icons/down.png);
            }
        }
        .edit {
            color: #4FC3F7;
            margin-right: 6px;
        }
        .delete {
            color: #E57373;
        }
    }
}

@mixin animated {
    animation-duration: .25s;
    animation-fill-mode: both;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 10%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fadeInUp {
    @include animated;
    animation-name: fadeInUp;
}